.header {
    background: #FFF;
    
}

.header__inner {
    text-align: center;
}

.header__logo {
    padding: 20;
    color: #8b4513;
    text-decoration: none;
    font-weight: normal;
    font-size: 24px;
}